.body{
    justify-content: center;
    align-items: center;
    background-color:darkblue;
}

.board{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 600px;
    margin: 50px auto auto auto;
}

.column{
    width: 250px;
}

.square{
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin: -1px -1px 0 0;
    border: 1px solid black;
    border-collapse:collapse;
    font-size: 150px;
    text-align:center;
}